Name: Dandi Gutema
Student ID=2101714

In [141]:
#  Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import mlxtend.preprocessing
import mlxtend.frequent_patterns

In [142]:
assignment_data = pd.read_csv('assignment_basket.csv')
assignment_data.head()

   Transaction           Item         date_time period_day weekday_weekend
0            1          Bread  30-10-2016 09:58    morning         weekend
1            2   Scandinavian  30-10-2016 10:05    morning         weekend
2            2   Scandinavian  30-10-2016 10:05    morning         weekend
3            3  Hot chocolate  30-10-2016 10:07    morning         weekend
4            3            Jam  30-10-2016 10:07    morning         weekend

In [143]:
assignment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20507 entries, 0 to 20506
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction      20507 non-null  int64
 1   Item             20507 non-null  object
 2   date_time        20507 non-null  object
 3   period_day       20507 non-null  object
 4   weekday_weekend  20507 non-null  object
dtypes: int64(1), object(4)
memory usage: 801.2+ KB

In [144]:
assignment_data. Item.value_counts()

Coffee            5471
Bread             3325
Tea               1435
Cake              1025
Pastry             856
                  ...
Bacon                1
Gift voucher         1
Olum & polenta       1
Raw bars             1
Polenta              1
Name: Item, Length: 94, dtype: int64

In [145]:
assignment_data[['Item', 'weekday_weekend']].value_counts()

Item                           weekday_weekend
Coffee                         weekday            3543
Bread                          weekday            2092
Coffee                         weekend            1928
Bread                          weekend            1233
Tea                            weekday             976
                                                  ...
Spread                         weekday               1
Olum & polenta                 weekday               1
Polenta                        weekday               1
Raspberry shortbread sandwich  weekday               1
Adjustment                     weekday               1
Length: 169, dtype: int64

In [146]:
assignment_data.groupby("weekday_weekend")["Item"].value_counts()

weekday_weekend  Item
weekday          Coffee               3543
                 Bread                2092
                 Tea                   976
                 Cake                  612
                 Pastry                566
                                      ...
weekend          Empanadas               1
                 Fairy Doors             1
                 Lemon and coconut       1
                 Mortimer                1
                 Spread                  1
Name: Item, Length: 169, dtype: int64

In [147]:
assignment_data.period_day.value_counts()

afternoon    11569
morning       8404
evening        520
night           14
Name: period_day, dtype: int64

In [148]:
assigmnent_morning= assignment_data[(assignment_data.period_day== 'morning')]

In [189]:
assigmnent_morning.head()

   Transaction           Item         date_time period_day weekday_weekend
0            1          Bread  30-10-2016 09:58    morning         weekend
1            2   Scandinavian  30-10-2016 10:05    morning         weekend
2            2   Scandinavian  30-10-2016 10:05    morning         weekend
3            3  Hot chocolate  30-10-2016 10:07    morning         weekend
4            3            Jam  30-10-2016 10:07    morning         weekend

In [151]:
assigmnent_morning.shape

(8404, 5)

In [152]:
assigmnent_morning.head()

   Transaction           Item         date_time period_day weekday_weekend
0            1          Bread  30-10-2016 09:58    morning         weekend
1            2   Scandinavian  30-10-2016 10:05    morning         weekend
2            2   Scandinavian  30-10-2016 10:05    morning         weekend
3            3  Hot chocolate  30-10-2016 10:07    morning         weekend
4            3            Jam  30-10-2016 10:07    morning         weekend

In [169]:
assigmnent_morning. Item.value_counts()

Coffee                 2561
Bread                  1610
Pastry                  604
Tea                     456
Medialuna               402
                       ...
Lemon and coconut         1
Empanadas                 1
Mighty Protein            1
The BART                  1
Half slice Monster        1
Name: Item, Length: 76, dtype: int64

In [153]:
assigmnent_afternoon= assignment_data[(assignment_data.period_day== 'afternoon')]

In [154]:
assigmnent_afternoon.shape

(11569, 5)

In [190]:
assigmnent_afternoon.head()

    Transaction          Item         date_time period_day weekday_weekend
86           43  Scandinavian  30-10-2016 12:00  afternoon         weekend
87           43         Fudge  30-10-2016 12:00  afternoon         weekend
88           44        Coffee  30-10-2016 12:05  afternoon         weekend
89           44     Medialuna  30-10-2016 12:05  afternoon         weekend
90           45        Coffee  30-10-2016 12:08  afternoon         weekend

In [170]:
assigmnent_afternoon. Item.value_counts()

Coffee                   2823
Bread                    1661
Tea                       930
Cake                      731
Sandwich                  671
                         ...
Bacon                       1
Mortimer                    1
Raw bars                    1
Chicken sand                1
Cherry me Dried fruit       1
Name: Item, Length: 86, dtype: int64

Morning Transactions

In [156]:
morning_list = assigmnent_morning.groupby(['Transaction'])['Item'].apply(list).values.tolist()
encoder = mlxtend.preprocessing.TransactionEncoder().fit(morning_list)

encoded_data = encoder.transform(morning_list)

morning_trans = pd.DataFrame(encoded_data, columns = encoder.columns_)

print(morning_trans.head())

   Afternoon with the baker  Alfajores  Argentina Night  Art Tray  Baguette  \
0                     False      False            False     False     False
1                     False      False            False     False     False
2                     False      False            False     False     False
3                     False      False            False     False     False
4                     False      False            False     False     False

   Bakewell  Basket  Bread  Brioche and salami  Brownie  ...    Tea  The BART  \
0     False   False   True               False    False  ...  False     False
1     False   False  False               False    False  ...  False     False
2     False   False  False               False    False  ...  False     False
3     False   False  False               False    False  ...  False     False
4     False   False   True               False    False  ...  False     False

   The Nomad  Tiffin  Toast  Truffles  Valentine's card  Vegan Feast  \
0      False   False  False     False             False        False
1      False   False  False     False             False        False
2      False   False  False     False             False        False
3      False   False  False     False             False        False
4      False   False  False     False             False        False

   Vegan mincepie  Victorian Sponge
0           False             False
1           False             False
2           False             False
3           False             False
4           False             False

[5 rows x 76 columns]

In [157]:
morning_trans.shape

(4103, 76)

In [158]:
morning_trans.sum().sort_values(ascending = False)[:10]

Coffee           2113
Bread            1490
Pastry            572
Tea               441
Medialuna         380
Cake              259
Hot chocolate     217
Farm House        207
Toast             204
Cookies           195
dtype: int64

In [159]:
# just for trying 
frequent_itemsets_morning = mlxtend.frequent_patterns.apriori(morning_trans, min_support = 0.001, max_len = 4, use_colnames = True)
frequent_itemsets_morning

      support                                    itemsets
0    0.002437                  (Afternoon with the baker)
1    0.024616                                 (Alfajores)
2    0.001219                                  (Art Tray)
3    0.020473                                  (Baguette)
4    0.004387                                  (Bakewell)
..        ...                                         ...
329  0.001219             (Bread, Coffee, Medialuna, Tea)
330  0.001462                 (Muffin, Coffee, Tea, Cake)
331  0.001219     (Farm House, Pastry, Coffee, Medialuna)
332  0.001219  (Pastry, Coffee, Hot chocolate, Medialuna)
333  0.001219               (Muffin, Coffee, Pastry, Tea)

[334 rows x 2 columns]

In [160]:
# Creating itemsets # Support values with max_len = 3

supp_test = [0.5, 0.3, 0.2, 0.4, 0.1, 0.05, 0.01, 0.005, 0.001,]


# 0.001 with  325 itemsets is good choice

for supp in supp_test:
    frequent_itemsets_morning = mlxtend.frequent_patterns.apriori(morning_trans, min_support = supp, max_len = 3, use_colnames = True)
    print('Number of frequent itemsets with support threshold', supp, 'is', frequent_itemsets_morning.shape[0])

Number of frequent itemsets with support threshold 0.5 is 1
Number of frequent itemsets with support threshold 0.3 is 2
Number of frequent itemsets with support threshold 0.2 is 2
Number of frequent itemsets with support threshold 0.4 is 1
Number of frequent itemsets with support threshold 0.1 is 4
Number of frequent itemsets with support threshold 0.05 is 11
Number of frequent itemsets with support threshold 0.01 is 49
Number of frequent itemsets with support threshold 0.005 is 91
Number of frequent itemsets with support threshold 0.001 is 325

In [ ]:
#with max length= 2 the maximum number of frequent itemeset is three

In [161]:
# Creating itemsets # Support values with max len = 4

supp_test = [0.5, 0.3, 0.2, 0.4, 0.1, 0.05, 0.01, 0.005, 0.001,]

# 0.001 with 334 itemsets is an okay choice

for supp in supp_test:
    frequent_itemsets_morning = mlxtend.frequent_patterns.apriori(morning_trans, min_support = supp, max_len = 4, use_colnames = True)
    print('Number of frequent itemsets with support threshold', supp, 'is', frequent_itemsets_morning.shape[0])

Number of frequent itemsets with support threshold 0.5 is 1
Number of frequent itemsets with support threshold 0.3 is 2
Number of frequent itemsets with support threshold 0.2 is 2
Number of frequent itemsets with support threshold 0.4 is 1
Number of frequent itemsets with support threshold 0.1 is 4
Number of frequent itemsets with support threshold 0.05 is 11
Number of frequent itemsets with support threshold 0.01 is 49
Number of frequent itemsets with support threshold 0.005 is 91
Number of frequent itemsets with support threshold 0.001 is 334

In [ ]:
#min_support = 0.001 with 334 itemsets and max_len = 4  is good choice

In [162]:
frequent_itemsets_morning = mlxtend.frequent_patterns.apriori(morning_trans, min_support = 0.001, max_len = 4, use_colnames = True)
frequent_itemsets_morning

      support                                    itemsets
0    0.002437                  (Afternoon with the baker)
1    0.024616                                 (Alfajores)
2    0.001219                                  (Art Tray)
3    0.020473                                  (Baguette)
4    0.004387                                  (Bakewell)
..        ...                                         ...
329  0.001219             (Bread, Coffee, Medialuna, Tea)
330  0.001462                 (Muffin, Coffee, Tea, Cake)
331  0.001219     (Farm House, Pastry, Coffee, Medialuna)
332  0.001219  (Pastry, Coffee, Hot chocolate, Medialuna)
333  0.001219               (Muffin, Coffee, Pastry, Tea)

[334 rows x 2 columns]

In [163]:
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_morning, metric = "confidence", min_threshold = 0.1)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_morning, metric = "confidence", min_threshold = 0.2)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_morning, metric = "confidence", min_threshold = 0.3)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_morning, metric = "confidence", min_threshold = 0.4)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_morning, metric = "confidence", min_threshold = 0.5)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_morning, metric = "confidence", min_threshold = 0.6)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_morning, metric = "confidence", min_threshold = 0.7)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_morning, metric = "confidence", min_threshold = 0.8)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_morning, metric = "confidence", min_threshold = 0.9)))

411
242
163
119
87
45
22
8
4

In [164]:

rules_morning = mlxtend.frequent_patterns.association_rules(frequent_itemsets_morning, metric = "confidence", min_threshold = 0.3)
rules_morning

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Alfajores),(Coffee),0.024616,0.514989,0.014623,0.594059,1.153538,0.001946,1.194783
1,(Bakewell),(Coffee),0.004387,0.514989,0.003168,0.722222,1.402403,0.000909,1.746039
2,(Brownie),(Bread),0.029978,0.363149,0.009262,0.308943,0.850734,-0.001625,0.921561
3,(Cookies),(Bread),0.047526,0.363149,0.015355,0.323077,0.889654,-0.001904,0.940803
4,(Eggs),(Bread),0.002681,0.363149,0.001706,0.636364,1.752349,0.000732,1.751340
...,...,...,...,...,...,...,...,...,...
158,"(Farm House, Medialuna)","(Coffee, Pastry)",0.003900,0.077261,0.001219,0.312500,4.044756,0.000917,1.342166
159,"(Pastry, Hot chocolate, Medialuna)",(Coffee),0.001462,0.514989,0.001219,0.833333,1.618157,0.000466,2.910066
160,"(Muffin, Coffee, Pastry)",(Tea),0.001950,0.107482,0.001219,0.625000,5.814909,0.001009,2.380047
161,"(Muffin, Coffee, Tea)",(Pastry),0.003412,0.139410,0.001219,0.357143,2.561813,0.000743,1.338695
162,"(Muffin, Pastry, Tea)",(Coffee),0.001462,0.514989,0.001219,0.833333,1.618157,0.000466,2.910066

In [ ]:
## the extracted rules for morning transaction contain useful information . Most frequent items such as coffee, bread and
#pastry were obeserved from the extracted rules. It is very ilkely that one could purchase coffee with muffin or pastry

In [165]:
## Recoomanandtion for Eggs purchase in the morning
selection_morning = rules_morning['antecedents'].apply(lambda m: 'Eggs' in m)
rules_morning[selection_morning]

## bread is recommeded for someone who bought eggs in the morning. It very likely that someone could buy bread after
#purchasing eggs to make breakfast

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(Eggs),(Bread),0.002681,0.363149,0.001706,0.636364,1.752349,0.000732,1.75134

Afternoon transactions

In [171]:
afternoon_list = assigmnent_afternoon.groupby(['Transaction'])['Item'].apply(list).values.tolist()
encoder = mlxtend.preprocessing.TransactionEncoder().fit(afternoon_list)

encoded_data = encoder.transform(afternoon_list)

afternoon_trans = pd.DataFrame(encoded_data, columns = encoder.columns_)

print(afternoon_trans.head())

   Afternoon with the baker  Alfajores  Argentina Night  Art Tray  Bacon  \
0                     False      False            False     False  False
1                     False      False            False     False  False
2                     False      False            False     False  False
3                     False      False            False     False  False
4                     False      False            False     False  False

   Baguette  Bakewell  Bare Popcorn  Bowl Nic Pitt  Bread  ...  Tartine  \
0     False     False         False          False  False  ...    False
1     False     False         False          False  False  ...    False
2     False     False         False          False  False  ...    False
3     False     False         False          False  False  ...    False
4     False     False         False          False   True  ...    False

     Tea  The Nomad  Tiffin  Toast  Truffles  Valentine's card  Vegan Feast  \
0  False      False   False  False     False             False        False
1  False      False   False  False     False             False        False
2  False      False   False  False     False             False        False
3  False      False   False  False     False             False        False
4  False      False   False  False     False             False        False

   Vegan mincepie  Victorian Sponge
0           False             False
1           False             False
2           False             False
3           False             False
4           False             False

[5 rows x 86 columns]

In [172]:
afternoon_trans.shape

(5089, 86)

In [173]:
afternoon_trans.sum().sort_values(ascending = False)[:10]

Coffee           2340
Bread            1556
Tea               864
Cake              696
Sandwich          590
Hot chocolate     313
Soup              309
Cookies           300
Brownie           249
Pastry            233
dtype: int64

In [174]:
## to try
frequent_itemsets_afternoon = mlxtend.frequent_patterns.apriori(afternoon_trans, min_support = 0.001, max_len = 4, use_colnames = True)
frequent_itemsets_afternoon

      support                                    itemsets
0    0.003734                  (Afternoon with the baker)
1    0.044606                                 (Alfajores)
2    0.006092                                  (Art Tray)
3    0.013166                                  (Baguette)
4    0.005895                                  (Bakewell)
..        ...                                         ...
535  0.001572                  (Scone, Coffee, Cake, Tea)
536  0.001572                   (Coffee, Cake, Soup, Tea)
537  0.001179  (Coffee, Sandwich, Hot chocolate, Cookies)
538  0.001179            (Coffee, Tea, Sandwich, Cookies)
539  0.001376               (Coffee, Tea, Sandwich, Soup)

[540 rows x 2 columns]

In [175]:
# Creating itemsets # Support values with max_len = 3

supp_test = [0.5, 0.3, 0.2, 0.4, 0.1, 0.05, 0.01, 0.005, 0.001]

# 0.001 with  527 itemsets is good choice
for supp in supp_test:
    frequent_itemsets_afternoon = mlxtend.frequent_patterns.apriori(afternoon_trans, min_support = supp, max_len = 3, use_colnames = True)
    print('Number of frequent itemsets with support threshold', supp, 'is', frequent_itemsets_afternoon.shape[0])

Number of frequent itemsets with support threshold 0.5 is 0
Number of frequent itemsets with support threshold 0.3 is 2
Number of frequent itemsets with support threshold 0.2 is 2
Number of frequent itemsets with support threshold 0.4 is 1
Number of frequent itemsets with support threshold 0.1 is 5
Number of frequent itemsets with support threshold 0.05 is 12
Number of frequent itemsets with support threshold 0.01 is 70
Number of frequent itemsets with support threshold 0.005 is 130
Number of frequent itemsets with support threshold 0.001 is 527

In [191]:
#Creating itemsets # Support values with max_len = 4

supp_test_2 = [0.5, 0.3, 0.2, 0.4, 0.1, 0.05, 0.01, 0.005, 0.001]

# 0.001 with  540 itemsets is good choice

for supp in supp_test_2:
    frequent_itemsets_afternoon = mlxtend.frequent_patterns.apriori(afternoon_trans, min_support = supp, max_len = 4, use_colnames = True)
    print('Number of frequent itemsets with support threshold', supp, 'is', frequent_itemsets_afternoon.shape[0])

Number of frequent itemsets with support threshold 0.5 is 0
Number of frequent itemsets with support threshold 0.3 is 2
Number of frequent itemsets with support threshold 0.2 is 2
Number of frequent itemsets with support threshold 0.4 is 1
Number of frequent itemsets with support threshold 0.1 is 5
Number of frequent itemsets with support threshold 0.05 is 12
Number of frequent itemsets with support threshold 0.01 is 70
Number of frequent itemsets with support threshold 0.005 is 130
Number of frequent itemsets with support threshold 0.001 is 540

In [ ]:
#min_support = 0.001 and max_len = 4  is nice choice

In [177]:
frequent_itemsets_afternoon = mlxtend.frequent_patterns.apriori(afternoon_trans, min_support = 0.001, max_len = 4, use_colnames = True)
frequent_itemsets_afternoon

      support                                    itemsets
0    0.003734                  (Afternoon with the baker)
1    0.044606                                 (Alfajores)
2    0.006092                                  (Art Tray)
3    0.013166                                  (Baguette)
4    0.005895                                  (Bakewell)
..        ...                                         ...
535  0.001572                  (Scone, Coffee, Cake, Tea)
536  0.001572                   (Coffee, Cake, Soup, Tea)
537  0.001179  (Coffee, Sandwich, Hot chocolate, Cookies)
538  0.001179            (Coffee, Tea, Sandwich, Cookies)
539  0.001376               (Coffee, Tea, Sandwich, Soup)

[540 rows x 2 columns]

In [178]:
#confidence testing

print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_afternoon, metric = "confidence", min_threshold = 0.1)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_afternoon, metric = "confidence", min_threshold = 0.2)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_afternoon, metric = "confidence", min_threshold = 0.3)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_afternoon, metric = "confidence", min_threshold = 0.4)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_afternoon, metric = "confidence", min_threshold = 0.5)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_afternoon, metric = "confidence", min_threshold = 0.6)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_afternoon, metric = "confidence", min_threshold = 0.7)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_afternoon, metric = "confidence", min_threshold = 0.8)))
print(len(mlxtend.frequent_patterns.association_rules(frequent_itemsets_afternoon, metric = "confidence", min_threshold = 0.9)))

718
388
252
175
125
59
25
13
2

In [179]:
#with confidence of 0.4
rules_afternoon = mlxtend.frequent_patterns.association_rules(frequent_itemsets_afternoon, metric = "confidence", min_threshold = 0.4)
rules_afternoon

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Alfajores),(Coffee),0.044606,0.459815,0.022991,0.515419,1.120925,0.002480,1.114745
1,(Art Tray),(Coffee),0.006092,0.459815,0.004520,0.741935,1.613551,0.001719,2.093216
2,(Bakewell),(Coffee),0.005895,0.459815,0.003144,0.533333,1.159886,0.000433,1.157539
3,(Brownie),(Coffee),0.048929,0.459815,0.023187,0.473896,1.030622,0.000689,1.026763
4,(Cake),(Coffee),0.136766,0.459815,0.071920,0.525862,1.143638,0.009033,1.139299
...,...,...,...,...,...,...,...,...,...
170,"(Scone, Tea, Cake)",(Coffee),0.002948,0.459815,0.001572,0.533333,1.159886,0.000217,1.157539
171,"(Tea, Soup, Cake)",(Coffee),0.003537,0.459815,0.001572,0.444444,0.966572,-0.000054,0.972332
172,"(Sandwich, Hot chocolate, Cookies)",(Coffee),0.001376,0.459815,0.001179,0.857143,1.864103,0.000547,3.781293
173,"(Tea, Sandwich, Cookies)",(Coffee),0.001376,0.459815,0.001179,0.857143,1.864103,0.000547,3.781293
174,"(Tea, Sandwich, Soup)",(Coffee),0.002948,0.459815,0.001376,0.466667,1.014900,0.000020,1.012846

In [ ]:
## the extracted rules for afternoonh transaction also contain useful information . 
#Most frequent items such as coffee is bserved  boldy.
#In general, the extracted rules are very informative regrading to moorning and afternoon purchasing behavior of customers

In [184]:
## Recommendation for Eggs purchase in the morning
selection_morning = rules_morning['antecedents'].apply(lambda m: 'Eggs' in m)
rules_morning[selection_morning]

## bread is recommended for someone who bought eggs in the morning. It is very likely that someone could buy bread after
#purchasing eggs to make breakfast

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(Eggs),(Bread),0.002681,0.363149,0.001706,0.636364,1.752349,0.000732,1.75134

In [183]:
## coke and Juice afternoon
selection_afternoon = rules_afternoon['antecedents'].apply(lambda x: 'Coke' in x and 'Juice' in x)
rules_afternoon[selection_afternoon]
## for some one who purchased coke and jiuce on the afternoon Cofee and sandwich are recommed. Especially sandwich could have
#higher possibility to be purchased for lunch with coke and juice. People might also buy coffee with juices.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
98,"(Coke, Juice)",(Coffee),0.002555,0.459815,0.001179,0.461538,1.003748,0.000004,1.003200
156,"(Coke, Juice)",(Sandwich),0.002555,0.115936,0.001572,0.615385,5.307953,0.001276,2.298566

In [181]:
#Toast in the morning
selection_morning = rules_morning['antecedents'].apply(lambda m: 'Toast' in m)
rules_morning[selection_morning]
##  recommend coffee, Bread, Tea, Medialuna, and Hot chocolate who bought Toast in the morning

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
40,(Toast),(Coffee),0.049720,0.514989,0.035827,0.720588,1.399230,0.010222,1.735829
68,"(Bread, Toast)",(Coffee),0.013892,0.514989,0.006337,0.456140,0.885728,-0.000818,0.891794
75,"(Hot chocolate, Toast)",(Bread),0.003656,0.363149,0.001706,0.466667,1.285056,0.000378,1.194096
78,"(Medialuna, Toast)",(Bread),0.003656,0.363149,0.001950,0.533333,1.468635,0.000622,1.364681
95,"(Cake, Toast)",(Coffee),0.002194,0.514989,0.001219,0.555556,1.078772,0.000089,1.091275
98,"(Cake, Toast)",(Tea),0.002194,0.107482,0.001219,0.555556,5.168808,0.000983,2.008165
105,"(Cookies, Toast)",(Coffee),0.002681,0.514989,0.001950,0.727273,1.412210,0.000569,1.778374
115,"(Hot chocolate, Toast)",(Coffee),0.003656,0.514989,0.001706,0.466667,0.906168,-0.000177,0.909396
128,"(Medialuna, Toast)",(Coffee),0.003656,0.514989,0.002194,0.600000,1.165073,0.000311,1.212527
133,"(Pastry, Toast)",(Coffee),0.002925,0.514989,0.002681,0.916667,1.779973,0.001175,5.820132
134,"(Tea, Toast)",(Coffee),0.008043,0.514989,0.004143,0.515152,1.000316,0.000001,1.000335
137,"(Hot chocolate, Toast)",(Medialuna),0.003656,0.092615,0.001219,0.333333,3.599123,0.000880,1.361077
138,"(Toast, Medialuna)",(Hot chocolate),0.003656,0.052888,0.001219,0.333333,6.302611,0.001025,1.420668

In [182]:
#Toast in the afternoon
selection_afternoon = rules_afternoon['antecedents'].apply(lambda m: 'Toast' in m)
rules_afternoon[selection_afternoon]
#recommend Coffee for someone who bought Toast in the afternoon

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
30,(Toast),(Coffee),0.022401,0.459815,0.015131,0.675439,1.468935,0.004830,1.664353
60,"(Bread, Toast)",(Coffee),0.003341,0.459815,0.001769,0.529412,1.151357,0.000232,1.147893
88,"(Toast, Cake)",(Coffee),0.002358,0.459815,0.001965,0.833333,1.812322,0.000881,3.241108
121,"(Hot chocolate, Toast)",(Coffee),0.002751,0.459815,0.001376,0.500000,1.087393,0.000111,1.080369
130,"(Juice, Toast)",(Coffee),0.002948,0.459815,0.002162,0.733333,1.594843,0.000806,2.025693
149,"(Sandwich, Toast)",(Coffee),0.002751,0.459815,0.001376,0.500000,1.087393,0.000111,1.080369
153,"(Spanish Brunch, Toast)",(Coffee),0.001572,0.459815,0.001179,0.750000,1.631090,0.000456,2.160739
155,"(Tea, Toast)",(Coffee),0.005502,0.459815,0.002751,0.500000,1.087393,0.000221,1.080369